<h1>My Personal Home Page</h1>
<br>
<br>
<br>
<h4>Find me in
  <a href="https://github.com/Muhammad-Saeed-0" target="_blank">Github</a>
, OR in
  <a href="https://www.linkedin.com/in/muhammad-saeed-411681222/" target="_blank" >linkedin</a>
</h4>

<br>
<br>
<%= link_to 'About Me', about_path, class: "btn btn-dark"%>
<%= link_to 'My Blog', posts_path, class: "btn btn-primary"%>